* {
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5em;
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

header {
    background: #5c4e4e;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: #ff3e3e 3px solid;
}

header ul{
    list-style-type:none;
    word-spacing:2em;
}

header li{
    display:inline;
}

header #name{
    float:left;
}

header nav{
    float:right;
}

.container a:link {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.container a:visited {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.container a:hover {
    text-decoration: none;
    color: black;
    background-color: transparent
}

.container a:active {
    text-decoration: none;
    color: black;
    background-color: transparent
}

#showcase {
    min-height: 350px;
    background: url("../images/background.jpg") no-repeat 0px;
    background-size:cover;
    border-bottom: #ff3e3e 3px solid;
}

.zipcode {
    float:right;
    width:40%;
}

#zipcode-text {
    color:white;
    font-size:20px;
    margin-bottom:5px;
}

input[type=text] {
    padding: 12px;
    border:none;
}

input[type=submit] {
    background-color: #ff3e3e;
    padding:12px;
    border:none;
    text-align:center;
    text-decoration:none;
}

.container #head {
    padding-top:100px;
    margin-bottom:0px;
    float:left;
    width:55%;
}

.container #description {
    float:left;
    width:50%;
}

.box {
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    float: left;
    width: 33%;
    text-align: center;
}

footer {
    background: #ff3e3e;
    text-align: center;
}

/* For smartphone screen size */
@media (max-width: 700px) {
    header #name, header nav, header nav li{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    .container #head, .container #description {
        float: none;
        width: 100%;
    }

    #zipcode-text {
        color: black;
    }

    .zipcode {
        float: none;
        width: 100%;
    }

    .box {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
        width: 100%;
        text-align: center;
    }
}